
<div class="store-all">

          <div class="all type open">
            <a class="store-open-wrap 15" target="_blank" href="/store/37">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/yemao_store.jpg">
      </div>
      <div class="infos">
        <div class="name">夜猫超市</div>
        <div class="info">夜宵 零食</div>
        <div class="info">
          0元起送，32种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="apple column">5分钟</span><span class="new column">新</span>
        </div>
      </div>
      </a>
      </div>

          <div class="all type open">
            <a class="store-open-wrap 1 5 12" target="_blank" href="/store/28">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/1.jpg">
      </div>
      <div class="infos">
        <div class="name">蜘蛛侠超市</div>
        <div class="info">超市 零食</div>
        <div class="info">
          0元起送，2463种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="bao column">爆品</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
      </div>

          <div class="all type open">
            <a class="store-open-wrap 3" target="_blank" href="/store/24">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/24.png">
      </div>
      <div class="infos">
        <div class="name">包图后面的水果店</div>
        <div class="info">水果 果盘</div>
        <div class="info">
          0元起送，66种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="bao column">爆品</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
     

      </div>

          <div class="all type open">
            <a class="store-open-wrap 3" target="_blank" href="/store/16">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/20_1.png">
      </div>
      <div class="infos">
        <div class="name">蔬果每日</div>
        <div class="info">进口水果 优质水果</div>
        <div class="info">
          0元起送，48种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="bao column">爆品</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
      </div>


          <div class="all type open">
            <a class="store-open-wrap 2 7" target="_blank" href="/store/26">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/26.jpg">
      </div>
      <div class="infos">
        <div class="name">华联手抓饼</div>
        <div class="info">手抓饼</div>
        <div class="info">
          0元起送，22种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
 

      </div>

          <div class="all type open">
            <a class="store-open-wrap 2 7" target="_blank" href="/store/27">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/27.jpg">
      </div>
      <div class="infos">
        <div class="name">华联鸡蛋灌饼</div>
        <div class="info">鸡蛋灌饼</div>
        <div class="info">
          0元起送，23种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>


      </div>

          <div class="all type open">
            <a class="store-open-wrap 2 7" target="_blank" href="/store/29">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/29.png">
      </div>
      <div class="infos">
        <div class="name">华联煎饼·菜饼</div>
        <div class="info">煎饼果子 菜饼</div>
        <div class="info">
          0元起送，26种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
    

      </div>

          <div class="all type open">
            <a class="store-open-wrap 4" target="_blank" href="/store/3">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/express_store_2.png">
      </div>
      <div class="infos">
        <div class="name">快递服务</div>
        <div class="info">快递代取 代发</div>
        <div class="info">
          0元起送，18种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="bao column">爆品</span><span class="sixty column">1小时</span>
        </div>
      </div>
      </a>


      </div>

          <div class="all type open">
            <a class="store-open-wrap 5 7" target="_blank" href="/store/6">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/6.jpg">
      </div>
      <div class="infos">
        <div class="name">丫咪甜品</div>
        <div class="info">三角烧 鸡蛋仔</div>
        <div class="info">
          0元起送，55种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>


      </div>

          <div class="all type open">
            <a class="store-open-wrap 3 8" target="_blank" href="/store/5">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/5.jpg">
      </div>
      <div class="infos">
        <div class="name">曼顿果汁</div>
        <div class="info">鲜榨果汁</div>
        <div class="info">
          0元起送，52种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>


      </div>

          <div class="all type open">
            <a class="store-open-wrap 10" target="_blank" href="/store/11">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/11_2.jpg">
      </div>
      <div class="infos">
        <div class="name">数码宝贝</div>
        <div class="info">3C 数码 手机配件</div>
        <div class="info">
          0元起送，69种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
     

      </div>

          <div class="all type open">
            <a class="store-open-wrap 10" target="_blank" href="/store/9">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/9.jpg">
      </div>
      <div class="infos">
        <div class="name">交大华联二楼联通营业厅</div>
        <div class="info">充值卡 路由器</div>
        <div class="info">
          0元起送，13种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
    

      </div>

          <div class="all type open">
            <a class="store-open-wrap 10" target="_blank" href="/store/10">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/10.jpg">
      </div>
      <div class="infos">
        <div class="name">VIVO手机专卖店</div>
        <div class="info">vivo专卖</div>
        <div class="info">
          0元起送，10种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
     

      </div>

          <div class="all type close">
            <a class="store-close-wrap 2 7" target="_blank" href="/store/25">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/25.jpg">
      </div>
      <div class="infos">
        <div class="name">华联安庆包子</div>
        <div class="info">包子 豆浆</div>
        <div class="info">
          0元起送，10种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
     

      </div>

          <div class="all type close">
            <a class="store-close-wrap 5 7" target="_blank" href="/store/21">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/21_1.png">
      </div>
      <div class="infos">
        <div class="name">克莉丝汀蛋糕房</div>
        <div class="info">蛋糕 面包</div>
        <div class="info">
          0元起送，58种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
      

      </div>

          <div class="all type close">
            <a class="store-close-wrap 3" target="_blank" href="/store/2">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/2.jpg">
      </div>
      <div class="infos">
        <div class="name">果趣</div>
        <div class="info">水果 果盘</div>
        <div class="info">
          0元起送，68种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>


      </div>

          <div class="all type close">
            <a class="store-close-wrap 1 5" target="_blank" href="/store/22">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/22.jpg">
      </div>
      <div class="infos">
        <div class="name">优客进口食品</div>
        <div class="info">进口食品 新疆特产</div>
        <div class="info">
          0元起送，17种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
    
      </div>

          <div class="all type close">
            <a class="store-close-wrap 1 5" target="_blank" href="/store/23">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/23.jpg">
      </div>
      <div class="infos">
        <div class="name">姑丽罕新疆特产</div>
        <div class="info">新疆特产</div>
        <div class="info">
          0元起送，7种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
    
      </div>

          <div class="all type close">
            <a class="store-close-wrap 1 5" target="_blank" href="/store/4">
      <div class="logo">
        <img src="http://zhaime.qiniudn.com/uploads/store/4_1.png">
      </div>
      <div class="infos">
        <div class="name">零食多</div>
        <div class="info">零食</div>
        <div class="info">
          0元起送，158种商品
        </div>
        <div class="badge-wrap">
          <span class="fu column">付</span><span class="thirty column">30分钟</span>
        </div>
      </div>
      </a>
     
      </div>
</div>


